.hamburger-menu {
    background: none;
    border: none;
    display: none;
}
@media screen and (max-width:768px){
    .navbar-nav {
        padding: 0 !important;
    }
    .hamburger-menu {
        background: none;
        border: none;
        display: inline-block;
        transition: none;
    }
    .hamburger-menu .icon-bar {
        background-color: rgb(255, 255, 255);
        display: block;
        height: 4px;
        margin: 0 auto 4px;
        width: 30px;
        border-radius: 10px;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }